# General files
node_modules/
package-lock.json

# Data files
/data/BACKUPS/**
!/data/BACKUPS/blank.json
/data/CUSTOM/**
!/data/CUSTOM/blank.json
/data/JPS/**
!/data/JPS/blank.json
/data/LOGS/**
!/data/LOGS/.gitblank
/data/POGO/**
!/data/POGO/.gitblank
/data/POINTS/**
!/data/POINTS/blank.json
/data/QUOTES/**
!/data/QUOTES/blank.json
/data/SHOPS/**
!/data/SHOPS/blank.json
/data/TEMP/**
!/data/TEMP/.gitblank
/data/TOURS/**
!/data/TOURS/.gitblank
/data/UNITE/**
!/data/UNITE/.gitblank
/pages/hindi/hpl*/**

logs.txt
/data/DATA/go.json
/data/DATA/huntlogs.json
/data/DATA/mails.json
/data/DATA/pets.json
/data/DATA/qcers.csv
/data/DATA/trickhouse.json

/data/PUZZLES/db/**
!/data/PUZZLES/db/.gitblank
/data/PUZZLES/puzzles.json


